apiVersion: apps/v1
kind: Deployment
metadata:
  name: yolo-db-deployment
spec:
  selector:
    matchLabels:
      app: yolo-db-deployment
  replicas: 1
  template:
    metadata:
      labels:
        app: yolo-db-deployment
    spec:
      containers:
        - name: yolo-db-deployment
          image: mongo
          ports:
            - containerPort: 27017
      volumeMounts:
        - name: "mongodb-persistent-storage"
          mountPath: "/data/db"
          
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                   name: db-secret
                   key: MONGO_INITDB_ROOT_USERNAME
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom: 
                 secretKeyRef: 
                   name: db-secret
                   key: MONGO_INITDB_ROOT_PASSWORD
          
